<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {#Carregendo o CSS Principal#}
    <link rel="stylesheet" href="{{page.site.css}}">
    {#Carrega o CSS adicional, caso exista#}
    {% if page.css %}
    <link rel="stylesheet" href="/static/css/{{page.css}}">
    {% endif %}


    {#Logo do Site#}
    <link rel="shortcut icon" href="{{page.site.LOGO}}" type="image/x-icon">

    {% if page.title != "" %}
    <title>{{page.site.NAME}} - {{page.title}}</title>
    {% else %}
    <title>{{page.site.NAME}}</title>
    {% endif %}

</head>

<body>

    <div id="wrap">

        {#Cabeçalho#}
        <header>
            <a href="/" title="Ir para a página inicial">
                <img src="{{page.site.LOGO}}" alt="Logo do Site" class="Logo">

                <h2><small>{{page.site.NAME}}</small></h2>
            </a>
            {{page.site.toogle|safe}}
        </header>

        {#Menu de Navegação#}
        <nav>
            {#Início | Home | Página Inicial#}
            {{page.site.menu.home|safe}}

            {#Galeria#}
            {{page.site.menu.galeria|safe}}            
            
            {#Contatos#}
            {{page.site.menu.contato|safe}}

            {#Sobre#}
            {{page.site.menu.sobre|safe}}
        </nav>

        <main>

            <article>{% block article %}{% endblock %}</article>

            <aside>{% block aside %}{% endblock %}</aside>

        </main>

        <footer>
            <div>
                <div> 
                    {{page.site.CR|safe}}
                </div>
                <hr>
                {#Redes Sociais e Links Úteis#}
                <div class="links_uteis" >
                    {#Redes Sociais do site#}
                    <nav title="Nossas Redes Sociais">
                        <h4>Redes Sociais</h4>
                        {# Facebook #}
                        {{page.site.redesSociais.facebook|safe}}
                        
                        {# X (Twitter) #}
                        {{page.site.redesSociais.x|safe}}
                        
                        {# Github #}
                        {{page.site.redesSociais.github|safe}}
                        
                    </nav>           
                                
                     {#Links úteis do site#}
                    <nav title="Links Ùteis do site">
                        <h4>Links Úteis</h4>

                        {#Políticas de Privacidade#}
                        {{page.site.links.politica|safe}}
                        
                        {#Contatos#}
                        {#Usando o do menu pois direcionar para a página de contatos(contacts.html)#}
                        {{page.site.menu.contato|safe}}
                        
                        {#Sobre#}
                        {#Usando o do menu pois direcionar para a página sonre(about.html)#}
                        {{page.site.menu.sobre|safe}}
                        
                    </nav>
                </div>
            </div>

        </footer>

        <div id="cortina"></div>
    </div>

    <!--Javascript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{page.site.js}}"></script>
    {%if page.js%}
    <script src="/static/js/{{page.js}}"></script>
    {% endif %}

</body>

</html>