{% extends "__template.html" %}

{% block article %}

<div class="about">
    <h1>Quem somos Nós</h1>
    <p>Na Galeria Awesome, nossa paixão é capturar e compartilhar imagens que contam histórias e evocam emoções. Somos
        uma equipe dedicada de fotógrafos e artistas visuais com o objetivo de criar uma experiência visual única e
        envolvente para nossos visitantes.</p>
    <p>Com uma vasta coleção de fotos, que vão desde paisagens deslumbrantes até retratos inspiradores, nossa galeria é
        um reflexo da diversidade e da beleza do mundo ao nosso redor. Cada imagem é cuidadosamente selecionada para
        oferecer uma experiência estética rica e emocionante.</p>
    <p>Nosso compromisso é não apenas mostrar belas imagens, mas também proporcionar uma plataforma onde artistas
        emergentes possam brilhar e compartilhar seu trabalho com o mundo. Junte-se a nós nesta jornada visual e explore
        o que temos a oferecer!</p>
</div>


{% endblock %}