{% extends "__template.html" %}

{% block article %}
<h1>Galeria de Fotos</h1>
<div class="galeria_1"> <!--Div da irá o flex-->
    <div class="foto"> <!--Imagem 1-->
        <img src="https://picsum.photos/200/300?random=1" alt="Imagem 1">
        <h4>Imagem 1</h4>
    </div>
    <div class="foto"><!--Imagem 2-->
        <img src="https://picsum.photos/200/300?random=2" alt="Imagem 2">
        <h4>Imagem 2</h4>
    </div>
    <div class="foto"> <!-- Imagem 3-->
        <img src="https://picsum.photos/seed/picsum/200/300" alt="Imagem 3">
        <h4>Imagem 3</h4>
    </div>
</div>

<div class="galeria_2">
    <div class="foto"> <!--Imagem 4-->
        <img src="https://picsum.photos/id/870/200/300?grayscale&blur=2" alt="Imagem 4">
        <h4>Imagem 4</h4>
    </div>
    <div class="foto"> <!--Imagem 5-->
        <img src="https://picsum.photos/200/300/?blur" alt="Imagem 5">
        <h4>Imagem 5</h4>
    </div>
    <div class="foto"> <!--Imagem 6-->
        <img src="https://picsum.photos/200/300?grayscale" alt="Imagem 6">
        <h4>Imagem 6</h4>
    </div>
</div>

<div class="galeria_3">
    <div class="foto"> <!--Imagem 7-->
        <img src="https://picsum.photos/200/300?random=1?grayscale&blur=2" alt="Imagem 4">
        <h4>Imagem 7</h4>
    </div>
    <div class="foto"> <!--Imagem 8-->
        <img src="https://picsum.photos/200/300?random=2?blur" alt="Imagem 5">
        <h4>Imagem 8</h4>
    </div>
    <div class="foto"> <!--Imagem 9-->
        <img src="https://picsum.photos/200/300?grayscale" alt="Imagem 6">
        <h4>Imagem 9</h4>
    </div>
    <div class="foto"> <!--Imagem 10-->
        <img src="https://picsum.photos/200/300?random=1grayscale" alt="Imagem 6">
        <h4>Imagem 10</h4>
    </div>
</div>



{% endblock %}