{% extends "__template.html" %}

{% block article %}

<div class="intro">               
    <h1>Bem-vindo à Galeria Awesome!</h1>
    <p>Descubra uma coleção incrível de imagens capturadas com paixão e criatividade. Nossa galeria é o lugar perfeito para explorar, inspirar e se maravilhar com a arte visual.</p>
    <p>Navegue pelas nossas seções para ver as últimas adições, explorar galerias temáticas e aprender mais sobre quem somos. Esperamos que você aproveite a visita!</p>
</div>

{% endblock %}
