{% extends "__template.html" %}

{% block article %}

<div class="politicas">
    <h2>1. Introdução</h2>
    <p>Bem-vindo ao nosso site. Esta Política de Privacidade rege a maneira como coletamos, usamos, mantemos e
        divulgamos as informações coletadas dos usuários (cada um, um "Usuário") deste site.</p>

    <h2>2. Informações que Coletamos</h2>
    <p>Podemos coletar informações de identificação pessoal dos Usuários de várias maneiras, incluindo, mas não se
        limitando a, quando os Usuários visitam nosso site, se registram no site, fazem um pedido, preenchem um
        formulário e em conexão com outras atividades, serviços, recursos ou recursos que disponibilizamos em nosso
        site.</p>

    <h2>3. Como Usamos as Informações Coletadas</h2>
    <p>As informações que coletamos podem ser usadas para personalizar a experiência do Usuário, melhorar nosso site,
        melhorar o atendimento ao cliente, processar transações e enviar e-mails periódicos.</p>

    <h2>4. Compartilhamento de Informações</h2>
    <p>Não vendemos, trocamos ou alugamos informações de identificação pessoal dos Usuários para terceiros. Podemos
        compartilhar informações demográficas agregadas genéricas não vinculadas a qualquer informação de identificação
        pessoal com nossos parceiros de negócios, afiliados de confiança e anunciantes para os fins descritos acima.</p>

    <h2>5. Alterações a Esta Política de Privacidade</h2>
    <p>Reservamo-nos o direito de atualizar esta política de privacidade a qualquer momento. Quando o fizermos,
        alteraremos a data de atualização na parte inferior desta página.</p>

    <h2>6. Sua Aceitação Destes Termos</h2>
    <p>Ao usar este site, você indica sua aceitação desta política. Se você não concordar com esta política, por favor,
        não use nosso site. Seu uso continuado do site após a publicação de alterações a esta política será considerado
        como sua aceitação dessas alterações.</p>

    <h2>7. Contato</h2>
    <p>Se você tiver alguma dúvida sobre esta Política de Privacidade, as práticas deste site, ou suas relações com este
        site, por favor, entre em contato conosco.</p>

</div>



{% endblock %}